USE [master]
GO
/****** Object:  Database [SistemaTickets]    Script Date: 22/1/2026 09:38:47 ******/
CREATE DATABASE [SistemaTickets]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SistemaTickets', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SistemaTickets.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SistemaTickets_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SistemaTickets_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SistemaTickets].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SistemaTickets]
GO
/****** Object:  User [n8n_user]    Script Date: 22/1/2026 09:38:47 ******/
CREATE USER [n8n_user] FOR LOGIN [n8n_user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [n8n_user]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [n8n_user]
GO
/****** Object:  Table [dbo].[Departamentos]    Script Date: 22/1/2026 09:38:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamentos](
	[IdDep] [int] NOT NULL,
	[NomDep] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Departamentos] PRIMARY KEY CLUSTERED 
(
	[IdDep] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tickets]    Script Date: 22/1/2026 09:38:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tickets](
	[IdTicket] [int] IDENTITY(1,1) NOT NULL,
	[IdDep] [int] NOT NULL,
	[NombreContacto] [varchar](100) NOT NULL,
	[DescripcionProblema] [varchar](max) NOT NULL,
	[Estado] [varchar](20) NULL,
	[FechaCreacion] [datetime] NULL,
	[CorreoContacto] [nvarchar](90) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTicket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Departamentos] ([IdDep], [NomDep]) VALUES (1, N'Dirección Superior')
INSERT [dbo].[Departamentos] ([IdDep], [NomDep]) VALUES (2, N'Gerencia de Talento Humano')
INSERT [dbo].[Departamentos] ([IdDep], [NomDep]) VALUES (3, N'Gerencia Administrativa')
GO
SET IDENTITY_INSERT [dbo].[tickets] ON 

INSERT [dbo].[tickets] ([IdTicket], [IdDep], [NombreContacto], [DescripcionProblema], [Estado], [FechaCreacion], [CorreoContacto]) VALUES (7, 7, N'Maria', N'dssddddddddddddddddddddddddd', N'Abierto', CAST(N'2026-01-22T09:21:03.780' AS DateTime), N'mar18@gmail.com')
INSERT [dbo].[tickets] ([IdTicket], [IdDep], [NombreContacto], [DescripcionProblema], [Estado], [FechaCreacion], [CorreoContacto]) VALUES (8, 1, N'María García', N'Problema con sistema', N'Abierto', CAST(N'2026-01-22T09:21:34.030' AS DateTime), N'maria@example.com')
INSERT [dbo].[tickets] ([IdTicket], [IdDep], [NombreContacto], [DescripcionProblema], [Estado], [FechaCreacion], [CorreoContacto]) VALUES (9, 1, N'María García', N'Problema con sistema', N'Abierto', CAST(N'2026-01-22T09:23:20.450' AS DateTime), N'maria@example.com')
SET IDENTITY_INSERT [dbo].[tickets] OFF
GO
ALTER TABLE [dbo].[tickets] ADD  DEFAULT ('Abierto') FOR [Estado]
GO
ALTER TABLE [dbo].[tickets] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
USE [master]
GO
